<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename = 'css/login.css')}}" rel="stylesheet">

{% include 'base.html' %} <!-- herda de base.html -->
{% block content %}
    <h2>LOGIN</h2>
    {% with errors = [error] if error else [] %}
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form id="login-form" method="POST">
    <p>
    <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Login">
    </p>
  </form>
{% endblock %}
```
falta o codigo css '''