<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename = 'css/login.css')}}" rel="stylesheet">

{% include 'base.html' %} <!-- herda de base.html -->
{% block content %}
<div class="grid">
    <h2>LOGIN</h2>
    {% with errors = [error] if error else [] %}
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <form id="login" method="POST" class="form login">

      <div class="form__field">
        <label for="login__username"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use></svg><span class="hidden">Username</span></label>
        <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
      </div>

      <div class="form__field">
        <label for="login__password"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg><span class="hidden">Password</span></label>
        <input type="password" id="password" name="password" placeholder="Password" required>
      </div>

      <div class="form__field">
        <input type="submit" value="Sign In">
      </div>

    </form>

{% endblock %}
