{% extends 'base.html' %} <!-- herda de base.html -->

{% block content %}
    <h2>CREATE USER</h2>
    {% if error %}
        <div>
            {{ error }}
        </div>
    {% endif %}

    <form method="post" action="/registo">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
    </div>
    <div>
        <label for="tipo">Is Admin:</label>
        <input type="number" name="is_admin" required>
    </div>
    <button type="submit">CRIAR</button>
    </form>
{% endblock %}